<!-- Used to compile and work with angular js -->
<html ng-app="app1" ng-cloak>

<head>
  <title> AngularJS: Game of Life </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Included when we wait to call AngularJS at the end of the document -->

  <style>
  [ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
  }

  body {
    height: 100%;
  }

  .container {
    height: 100%;
    width: 100%;
    display: table;
  }

  .centerme {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    line-height: 40px
  }

  table, th, td {
    text-align: center;
  }

  table{
    margin-bottom: 20px;
  }

  #startMenu ul {
    list-style-type: none;
  }

  </style>
</head>
<body>

  <!-- We are telling Ajs that this is a view! -->
  <div class="container">
  <div class="centerme">
    <div class="row">
      <h3 class="title text-center col-md-offset-1 col-md-10">Game of Life</h3>
    </div>

  <div class="row" id="startMenu">
    <div ng-controller="setup" ng-show="displayStartMenu" class="col-md-offset-1 col-md-10 text-center">
      <label style="">What 3 Habits do you want to track?</label>
      <ul>
        <li>
          <input type="text" ng-model="myHabit1" placeholder="Enter 1st Habit">
          <input type="text" ng-model="habitDiff1" placeholder="Enter Habit difficulty">
          <input type="text" ng-model="habitDays1" placeholder="# Days you want to do this habit">
        </li>
        <li>
          <input type="text" ng-model="myHabit2" placeholder="Enter 2nd Habit here">
          <input type="text" ng-model="habitDiff2" placeholder="Enter Habit difficulty">
          <input type="text" ng-model="habitDays2" placeholder="# Days you want to do this habit">
        </li>
        <li>
          <input type="text" ng-model="myHabit3" placeholder="Enter 3rd Habit here">
          <input type="text" ng-model="habitDiff3" placeholder="Enter Habit difficulty">
          <input type="text" ng-model="habitDays3" placeholder="# Days you want to do this habit">
        </li>
      </ul>
          <button ng-click="createHabits()">Submit</button>
    </div>
  </div>
  <div class="row">
   <!-- We have a parent controller that controls how many times the table is repeated -->
  <div ng-controller="parent" id="list" ng-show="visible()" class="col-md-offset-1 col-md-10 ng-scope">
      <label style="">How many weeks to do you want to play?</label>
      <select class="form-control" ng-model="currentSelected" ng-change="updateTotal()" ng-options="week for week in weekOptions"></select>
      <!-- For each week in weeksPlaying game display a table that has a seperate independent instance of the gameCtrl -->
      <table ng-controller="gameCtrl" ng-repeat="week in weeksPlayingGame track by $index" class="table table-hover">
        <tr>
          <th scope="row" class="text-center" colspan="{{daysOfWeek.length+2}}">Week: {{$index+1}}</th>
          <br/>
        </tr>
        <tr>
           <th>Habit</th>
             <!-- For each day in our daysOfWeek display a table heading -->
           <th ng-repeat="x in daysOfWeek">{{x}}</th>
           <th>Total</th>
        </tr>

        <!-- For habit in our listOfHabits display a row -->
        <tr class="habitRow" ng-repeat = "row in listOfHabits" ng-init="rowIndex = $index">
          <td>{{ row.habit }}</td>
             <!-- For each day in our daysOfWeek display a td for it, which gives us a habit row with daysOfWeek columns -->
             <!-- class is used to with the isDone for each day of the week to set the color of the table entry-->
             <!-- We set the background-color to the color for that specific row which will change green when max is reached -->
          <td ng-repeat="i in daysOfWeek" class="done-{{row.isDone[$index]}}" ng-style="{'background-color': row.color}">
            <!-- When the checkbox is changesState/clicked we pass in the index of the habit we are on(rowIndex) so the current total for that row can be set and to check if they have reached their weekly goal -->
            <input type="checkbox" ng-model="row.isDone[$index]" ng-click="changeState(rowIndex)"/>
          </td>
          <td>{{row.current}}/{{row.goal}}</td>
        </tr>
      </table>
      <hr/>
  </div>
</div>
</div>
</div>
</div>


  <!-- Load the AngularJS library -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
   <!-- Load the JS Module -->
   <script src="./js/main.js"></script>
</body>


</html>
