[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

#startMenu .container {
  height: 100%;
  width: 100%;
  display: table;
}

.centerme {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  line-height: 40px
}

table, th, td {
  text-align: center;
  color: white;
}

table{
  margin-bottom: 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

#startMenu ul {
  list-style-type: none;
}

#tutorial {
  width: inherit;
  height: inherit
}

#habitForm input {
  color: black;
}

#confirm-delete {
  color: black;
}

label {
  padding-right: 20px;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: #7f7f7f;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #7f7f7f;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #7f7f7f;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #7f7f7f;
}

body.modal-open div.modal-backdrop {
    z-index: 0;
}
